.profile__info-box {
    max-width: 336px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

@media screen and (max-width:767px) {
    .profile__info-box {
        width: 100%;
        display: block;
        padding-bottom: 36px;
    }
}