.popup__content {
    max-width: 430px;
    width: 100%;
    color: #000;
    background-color: #fff;
    border-radius: 10px;
    position: relative;
    box-sizing: border-box;
    padding: 36px;
}

@media screen and (max-width:767px) {
    .popup__content {
        max-width: 320px;
        width: calc(100% - 2*19px);
        padding: 25px 22px;
    }
}