.header {
    max-width: calc(100% - 2*200px);
    min-height: 74px;
    margin: 45px auto 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-bottom: 1px solid #545454;;
}