.popup__submit {
    min-height: 50px;
    background: #000;
    border-radius: 2px;
    color: #fff;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
}

.popup__submit:hover {
    opacity: 0.8;
}

@media screen and (max-width:767px) {
    .popup__submit {
        font-size: 14px;
        line-height: 17px;
    }
}