.profile__wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width:767px) {
    .profile__wrapper  {
        flex-direction: column;
        margin: 0 auto;
    }
}