.footer {
    width: 318px;
    height: 18px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #545454;
    margin-top: 67px;
    margin-left: 200px;
    margin-bottom: 60px;
}

@media screen and (max-width:767px) {
    .footer {
        width: 282px;
        height: 14px;
        font-size: 14px;
        line-height: 17px;
        margin: 0;
        padding-left: 19px;
        padding-bottom: 36px;
    }
}